<link rel="stylesheet" href="/src/styles.css">
<div class="container">

  <div class="col-md-4 offset-md-4 card">
    <div class="card-body">


      <h2>Signup</h2>
      <form [formGroup]="registerForm" (ngSubmit)="onFormSubmit()">
        <label for="Firstname">Firstname</label>
        <input class="form-control" type="text" formControlName="Firstname">
        <label for="Lastname">Lastname</label>
        <input type="text" class="form-control" formControlName="Lastname">
        <label for="Email">Email</label>
        <input type="text" class="form-control" formControlName="Email">
        <label for="Email">Date of birth</label>
        <input type="date" class="form-control" formControlName="Dob">
        <label for="Password">Password</label>
        <input type="password" class="form-control" formControlName="Password">
        <label>Role</label>
        <select class="form-control" formControlName="Role">
          <option [ngValue]="null" [selected]="true" disabled>Select Role</option>
          <option value="1">Admin</option>
          <option value="2">User</option>
          <option value="3">Guest</option>
        </select>
        <button type="submit" class="btn btn-primary" ng-disabled="!registerForm.valid">Signup</button>
      </form>
    </div>
  </div>
</div>
