a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
.logoutitem {
    margin-top:8px
}
  .logoutitem .logoutlink {
      color:black;

  }
  .logoutlink .mat-icon{
      margin-left:55px
  }
.logoutlink::before {
  content: 'Logout';
  display: inline-block;
  position:absolute;

}
